openapi: 3.2.0
info:
  title: Elemental Machines Machines Sample Stats API
  description: Documentation for using Elemental Machines API. To start, get an access token using /oauth/token.
  version: '1.0'
  contact:
    email: help@elementalmachines.io
servers:
- url: https://api.elementalmachines.io
  description: Elemental Machines production API
security:
- access_token: []
tags:
- name: Machines Sample Stats
paths:
  /api/machines/{machine_uuid}/sample_stats.json:
    get:
      tags:
      - Machines Sample Stats
      summary: Get sensor minimum, maximum, mean and median values
      operationId: machineSampleStatsIndex
      parameters:
      - name: access_token
        in: query
        description: Access token
        required: true
        schema:
          type: string
      - name: machine_uuid
        in: path
        description: Machine UUID
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Starting epoch timestamp in seconds. Blank will default to 24 hours ago.
        required: false
        schema:
          type: integer
      - name: to
        in: query
        description: Ending epoch timestamp in seconds. Blank will default to current time.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
      security:
      - access_token: []
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: OAuth 2.0 access token passed as the access_token query parameter. Obtain one from POST /oauth/token (Resource Owner Password Credentials grant).
    oauth2_password:
      type: oauth2
      description: Resource Owner Password Credentials grant. Documented in the provider's Swagger 1.2 declaration at /docs/api/oauth.json.
      flows:
        password:
          tokenUrl: https://api.elementalmachines.io/oauth/token
          scopes: {}
