openapi: 3.2.0
info:
  title: Elemental Machines Release Notes API
  description: Documentation for using Elemental Machines API. To start, get an access token using /oauth/token.
  version: '1.0'
  contact:
    email: help@elementalmachines.io
servers:
- url: https://api.elementalmachines.io
  description: Elemental Machines production API
security:
- access_token: []
tags:
- name: Release Notes
paths:
  /api/release_notes.json:
    get:
      tags:
      - Release Notes
      summary: Change logs for releases
      operationId: releaseNotesIndex
      parameters:
      - name: access_token
        in: query
        description: Access token
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        required: true
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Number of results per page
        required: true
        schema:
          type: integer
          default: 10
      - name: software
        in: query
        description: Software. Default is all software if not specified.
        required: false
        schema:
          type: string
      - name: from_date
        in: query
        description: From date, e.g. 2022-09-30. Default is All Time if not specified.
        required: false
        schema:
          type: string
      - name: to_date
        in: query
        description: To date, e.g. 2022-10-31. Default is All Time if not specified.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                type: object
      security:
      - access_token: []
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: OAuth 2.0 access token passed as the access_token query parameter. Obtain one from POST /oauth/token (Resource Owner Password Credentials grant).
    oauth2_password:
      type: oauth2
      description: Resource Owner Password Credentials grant. Documented in the provider's Swagger 1.2 declaration at /docs/api/oauth.json.
      flows:
        password:
          tokenUrl: https://api.elementalmachines.io/oauth/token
          scopes: {}
